// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.overlay {
  background: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity:0.6;
  z-index: 10000;
  top: 0;
  display: none;
  div:before{
    content: " ";
    background: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(10px);
  }
}
//Header
.site-title {
  display: none;
}
.site-description {
  display: none;
}
#wrapper-navbar {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1000;
}
#nav-icon {
  width: 30px;
  height: 40px;
  margin-top: 10px;
  margin-right: 1em;
  margin-left: 1em;
  z-index: 1001;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  @media screen and (min-width: $xs_breakpoint) {
    margin-top: 12px;
    margin-left: 24px;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $erply-gray;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 3px;
  }
  span:nth-child(2) {
    top: 11px;
  }
  span:nth-child(3) {
    top: 19px;
  }
}
#nav-icon.open {
  span {
    background: white;
  }
  span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.erply-navbar {
  padding: 1em .5em;
  width: 100%;
  background: #ffffff;
  transition: background-color .3s ease-out;
}
.secondary-menu {
  width: 100%;
  min-height: 20px;
  background: $erply-gray-24;
  z-index: 999;
  display: none;
  @media screen and (min-width: $xs_breakpoint) {
    display: block;
  }
  .secondary-wrapper {
    display: flex;
  }
  .links-wrapper {
    ul {
      list-style-type: none;
      margin: 0;
      padding: .5em 0;
      li {
        display: inline-block;
        color: white;
      }
    }
    margin-right: 1em;
  }
  .button-wrapper {
    position: absolute;
    right: 1em;
  }
}
.container-wrapper {
  width: 100%;
}
.menu-container {
  float: left;
  display: flex;
  a {
    color: white;
    font-family: $font__main;
    font-size: $font__large;
  }
  .custom-logo-link {
    width: 0px;
    padding-top: 8px;
    margin-left: 1.5em;
    z-index: 1001;
    img {
      position: relative;
      bottom: 100px;
      transition: bottom .3s ease-in;
    }
  }
  .remove-logo {
    display: none;
  }
  #navbarNavDropdown {
    display: none !important;
    @media screen and (min-width: $md_breakpoint) {
      display: flex !important;
    }
    #main-menu {
      li {
        a {
          padding: 0 1.25em;
          font-size: 16px;
          color: $erply-gray;
        }
      }
    }
  }
}
.main-menu {
  .nav-link {
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.settings-container {
  float: right;
  overflow: hidden;
  @media screen and (min-width: $xs_breakpoint) {
    display: flex;
  }
  .social-block {
    display: none;
    position: relative;
    right: 0;
    overflow: hidden;
    @media screen and (min-width: $xs_breakpoint) {
      display: flex;
    }
    .social {
      flex: 1;
      width: 45px;
      height: 100%;
      padding: 12px 10px 10px 10px;
      color: white;
    }
  }
  .shrink {
    right: 500px;
    transition: right .5s ease-out;
  }
  .enlarge {
    display: block !important;
  }
}
.assistive-text {
  display: none;
}
#searchsubmit {
  display: none;
}
#searchform {
  display: none;
  .input-group {
    height: 100%;
    .field {
      background: none;
      border: none;
      color: white;
      border-bottom: 1px solid white;
      &::placeholder {
        color: white;
      }
    }
  }
}
.search-block {
  padding: 8px;
  display: flex;
  .search-toggle {
    width: 45px;
    height: 100%;
    border: none;
    background: url("../img/search.png") no-repeat center center;
  }
  .close-toggle {
    background: url("../img/cancel.png") no-repeat center center;
  }
}
.toggle-menu {
  width: 300px;
  height: 100%;
  left: -500px;
  transition: left .5s ease-in;
  background: $erply-blue;
  position: fixed;
  top: 0;
  z-index: 1000;
  .mobile-wrapper {
    margin-top: 100px;
    .button-wrapper {
      text-align: center;
      margin-bottom: 1em;
      display: block;
      @media screen and (min-width: $xs_breakpoint) {
        display: none;
      }
    }
    .social-block {
      text-align: center;
      margin: 1em 0;
      display: block;
      @media screen and (min-width: $xs_breakpoint) {
        display: none;
      }
      a {
        margin: .5em;
      }
    }
  }
  #sliderList {
    display: none;
    #slider-menu {
      list-style-type: none;
      padding-left: 0;
      li {
        font-family: Avenir;
        font-size: 18px;
        a {
          color: white;
        }
      }
      .dropdown-menu {
        float: none;
        position: relative;
        background: none;
        border: none;
        padding: 0 0 0 1em;
        li {
          font-size: 14px;
          a {
            padding: .5em;
          }
        }
      }
      .dropdown-button {
        float: right;
        width: 30px;
        height: 30px;
      }
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
      .arrow-container {
        float: right;
        width: 30px;
        height: 30px;
        border: none;
        transition: transform .2s ease-in;
        position: relative;
        .arrow-icon {
          width: 100%;
          height: 4px;
          position: absolute;
          top: 10px;
          background: white;
        }
      }
    }
  }
}
.open-menu {
  left: 0;
  transition: left .5s ease-out;
}
.turn {
  transform: rotate(90deg);
  transition: transform .2s ease-in;
}

//Buttons
.erply-btn {
  background: none;
  transition: background .25s ease-in;
  border: 1px solid white;
  padding: .4em 1em;
  color: white;
  border-radius: 0;
  &:hover {
    background: $erply-blue;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-property: color;
    transition-duration: 0.3s;
  }
}

//Content
.content-area, .wrapper {
  margin-top: 150px;
}
.blog-feed {
  min-height: 500px;
}
.blog-posts {
  min-height: 500px;
}
//Trending row
.logo-area {
  background: $erply-blue;
  width: 100%;
  padding: 1em 2em;
  min-height: 250px;
}
.trending-row {
  display: flex;
  margin-bottom: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  h2 {
    font-size: $font__small;
    color: $erply-dark-blue;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 2em;
    margin-bottom: 0 !important;
    padding: .3em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: .8em;
      a {
        font-size: $font__small;
        font-weight: 700;
        color: $erply-blue;
      }
    }
  }
}
//Blog feed
.feed-items {
  padding-top: 1em;
  .feed-item {
    article {
      margin-bottom: 2em;
      h2 {
        font-size: $font__feed;
        line-height: 1.3;
        font-weight: 200;
        font-size: 18px;
        color: $erply-blue;
        font-family: $font__main;
      }
      .data-container {
        display: flex;
        .category {
          flex: 1;
          font-size: 14px;
          color: $erply-dark-blue;
          text-transform: uppercase;
          font-weight: 700;
          margin-right: 2em;
          margin-bottom: 0!important;
        }
        .time-stamp {
          font-family: $font__main;
          color: $erply-dark-blue;
        }
      }
    }
  }
}
//Main story
.main-story {
  min-height: 500px;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  h2 {
    color: white;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .story-image {
    position: absolute;
    top: 0;
    left: 0;
  }
  .story-headline {
    position: absolute;
    left: 0;
    bottom: -50px;
    h2 {
      margin: 1em;
      padding-left: 1em;
      font-weight: bold;
      border-left: 5px solid $erply-fall;
      text-shadow: 10px 10px 80px #000;
    }
  }
}
.secondary-stories {
  padding-top: 2em;
  .row {
    margin-right: 0;
  }
  article {
    margin-bottom: 1em;
    .article-image {
      height: 300px;
      width: 100%;
      position: relative;
      h2 {
        position: absolute;
        bottom: 15px;
        color: white;
        font-weight: bold;
        border-left: 5px solid $erply-fall;
        text-shadow: 10px 10px 80px #000;
        margin: 1em;
        padding-left: .5em;
      }
      p {
        position: absolute;
        bottom: 0;
        color: white;
        font-style: italic;
        font-size: 20px;
        margin: 1em;
        padding-left: 1.75em;
        font-weight: 500;
      }
    }
  }
}
.popular-topics {
  padding: 0;
  .header-item {
    background: $erply-blue;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1em;
    h2 {
      padding: .5em;
      font-size: 20px;
    }
  }
  .topic-item {
    padding: .25em 0;
    a {
      &:hover {
        text-decoration: none;
      }
      h2 {
        font-size: 18px;
        text-transform: uppercase;
        color: $erply-blue;
      }
    }
  }
}
// Registration
.page-template-registration {
  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    .registration-field {
      margin: 0 auto;
      width: 300px;
      position: relative;
      display: flex;
      input {
        border: 2px solid $erply-gray-24;
        background: transparent;
        width: 100%;
        transition: border-color .3s ease;
        z-index: 999;
        &:focus {
          border: 2px solid $erply-blue;
        }
      }
      span {
        position: absolute;
        padding: .5em 1.2em;
        transition: transform .3s ease;
        color: $erply-gray-24;
      }
      .slide {
        transform: translateX(-125px);
        transition: transform .3s ease;
        color: $erply-fall;
      }
    }
  }
  .secondary-menu {
    display: none;
  }
  .registration-area {
    border-right: 5px solid $erply-blue;
    min-height: 50vh;
  }
  #registration-form-wrapper {
    position: relative;
  }
  .distraction {
    min-height: 50vh;
  }
  .registration-field {
    margin-bottom: .5em !important;
  }
  .registration-input {
    height: 40px;
    padding: .3em 1em;
  }
  .registration {
    padding-top: 9em;
    h4 {
      padding: .25em .4em;
      margin-bottom: 0;
    }
  }
  .employee-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .employee-value {
      flex: 1;
      border: 1px solid $erply-gray-24;
      text-align: center;
      font-size: 14px;
      padding: .5em 0;
      margin: .25em;
      color: $erply-gray-24;
      &:hover {
        text-decoration: none;
        color: $erply-gray-8;
        background: $erply-dark-blue;
        border-color: $erply-dark-blue;
      }
    }
    .selected-value {
      text-decoration: none;
      color: $erply-gray-8;
      background: $erply-dark-blue;
      border-color: $erply-dark-blue;
    }
  }
}
#registration {
  min-height: 50vh;
  padding-top: 4em;
  background: white;
  text-align: center;
  h2 {
    color: $erply-blue;
    font-size: 3.3vw;
    line-height: 1.2;
    .fall {
      color: $erply-fall;
    }
  }
  h4 {
    color: $erply-gray-64;
    font-size: 1.125em;
    margin-bottom: 30px;
  }
  p {
    margin-top: 15px;
    color: $erply-gray-64;
    font-style: italic;
  }
  .registration-field {
    margin: 0 auto;
    width: 300px;
    position: relative;
    display: flex;
    input {
      border: 2px solid $erply-gray-24;
      background: transparent;
      transition: border-color .3s ease;
      z-index: 1000;
      &:focus {
        border: 2px solid $erply-blue;
      }
    }
    span {
      position: absolute;
      padding: .5em 1.2em;
      transition: transform .3s ease;
      color: $erply-gray-24;
    }
    .slide {
      transform: translateX(-125px);
      transition: transform .3s ease;
      color: $erply-fall;
    }
  }
  .employee-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .employee-value {
      flex: 1;
      border: 1px solid $erply-gray-24;
      text-align: center;
      font-size: 14px;
      padding: .5em 0;
      margin: .25em;
      color: $erply-gray-24;
      &:hover {
        text-decoration: none;
        color: $erply-gray-8;
        background: $erply-dark-blue;
        border-color: $erply-dark-blue;
      }
    }
    .selected-value {
      text-decoration: none;
      color: $erply-gray-8;
      background: $erply-dark-blue;
      border-color: $erply-dark-blue;
    }
  }
  .registration-input {
    padding: .3em 1em;
    width: 100%;
    background: transparent;
  }
  .bttn-submit {
    width: auto;
  }
}
// Footer

#wrapper-footer {
  padding-top: 4em;
}
